.history-headings {
  display: flex;
  border: 1px solid #d7dfe9;
  align-items: center;
  justify-content: space-between;
}



.delete-icon {
  height: 20px;
  width: 20px;
}

.delete-button{
  background-color: transparent;
  border: none;
}