.app-logo {
  height: 70px;
  width: 70px;
}

.item-container {
  background-color: #ffffff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 150px;
  width: 130px;
  text-align: center;
}
