.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
}

.heading {
  font-size: 20px;
  color: #171f46;
}

.para {
  font-size: 15px;
  color: #171f46;
}

.image {
  align-self: flex-end;
}

.list-container {
  margin-bottom: 20px;
  max-width: 250px;
}

@media screen and (min-width: 992px) {
  .list-container{
    max-width: 350px;
    margin: 25px;
  }
}
