* {
  box-sizing: border-box;
  margin: 0px;
}

.main-bg {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 50%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  *{
    font-size: 35px;
  }
  .count-container {
    margin: 25px;
    width: 550px;
    height: 550px;
  }
  button{
    font-size: 20px;
  }
  
}

button {
  background-color: #ffffff;
  padding: 8px;
  border-width: 0px;
  border-radius: 8px;
  width: 150px;
}

.footer-text {
  font-size: 10px;
  margin-top: 0px;
}
