.money-details-container {
  list-style-type: none;
  padding: 0px;
}

.image-size {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.money-item {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 340px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.balance {
  background-color: #ecfccb;
  border: solid 1px #84cc16;
}

.income {
  background-color: #cffafe;
  border: solid 1px #06b6d4;
}

.expenses {
  background-color: #ede9fe;
  border: solid 1px #7c3aed;
}
