.coin-game {
  background-image: linear-gradient(to right, #e2a139, #f9d423);
  min-height: 100vh;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toss-container {
  background-color: #ffffff;
  width: 250px;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:576px){
  .toss-container{
    max-width: 450px;
    width: 75vh;
  }
}
.image {
  height: 100px;
  width: 100px;
}

button {
  background-color: #f9d423;
  padding: 10px;
  border-radius: 10px;
  color: #a35200;
  border: none;
  cursor: pointer;
}

.heading {
  margin: 0px;
  font-size: 25px;
}
